# SPDX-License-Identifier: MIT
# WireGuard client configuration (Host-B side)
# East-west bridge between host-a and host-b
# MTU: 1380 (IPv6-safe: 1500 - 20 IPv4 - 8 UDP - 32 WireGuard - 40 IPv6 inner = 1380)

[Interface]
Address = fd00:dead:beef::2/48
PrivateKey = __CLIENT_PRIVATE_KEY__
MTU = 1380

# Enable forwarding for east-west traffic
PostUp = ip6tables -A FORWARD -i %i -j ACCEPT; ip6tables -A FORWARD -o %i -j ACCEPT; ip6tables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = ip6tables -D FORWARD -i %i -j ACCEPT; ip6tables -D FORWARD -o %i -j ACCEPT; ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# Server peer (Host-A)
[Peer]
PublicKey = __SERVER_PUBLIC_KEY__
AllowedIPs = fd00:dead:beef::1/128, fd00:dead:beef::/48
Endpoint = __HOST_A_ENDPOINT__:51820
PersistentKeepalive = 25
