# Classtypes used by unheaded-monad.rules. Suricata 7 refuses to start its
# detection engine when this file is missing (measured). Canonical copy;
# the K8s ConfigMap carries a byte-identical one (scripts/check-suricata-rules.sh).
# SPDX-License-Identifier: MIT
config classification: protocol-command-decode,Generic Protocol Command Decode,3
config classification: denial-of-service,Detection of a Denial of Service Attack,2
config classification: misc-activity,Misc activity,3
